PORT=8000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/digital-coop?retryWrites=true&w=majority
JWT_SECRET=supersecretkey123
ADMIN_EMAIL=efraimkantagba16@gmail.com
EMAIL_USER=efraimkantagba16@gmail.com
EMAIL_PASS=your-google-app-password
FROM_NAME=Cooperative Management
NODE_ENV=production
